button {
  -moz-user-select: none;
  -webkit-user-select: none;
}

textarea {
  height: em(64);
}

code {
  padding: em(2 4);
}

pre > code {
  padding: auto;
}

figure {
  padding: em(4 32);
}

hr {
  height: em(2);
  background: $gray-3;

  &.-bold {
    height: em(4);
  }
}

img {
  width: 100%;
}

p > img {
  width: auto;
  max-width: 100%;
}

ol, ul {
  padding: em(0 0 0 32);
}
