a {
  text-decoration: none;

  &:hover, &:focus, &:active {
    text-decoration: underline;
  }
}

blockquote {
  @extend %reset-gray;
  @extend %reset-padding;
  border-left: em(4) $gray-2;
}

button {
  -moz-user-select: none;
  -webkit-user-select: none;
}

code {
  padding: em(2 4);
}

fieldset {
  @extend %reset-border;
}

input[type='password'] {
  @extend %reset-border;
}

input[type='submit'] {
  @extend %reset-border;
}

input[type='text'] {
  @extend %reset-border;
}

figure {
  @extend %reset-gray;
  padding: em(4 32);
}

h1 {
  @extend %reset-heading;
  font-size: em(36);
}

h2 {
  @extend %reset-heading;
  font-size: em(32);
}

h3 {
  @extend %reset-heading;
  font-size: em(28);
}

h4 {
  @extend %reset-heading;
  font-size: em(24);
}

h5 {
  @extend %reset-heading;
  font-size: em(20);
}

h6 {
  @extend %reset-heading;
  font-size: em(16);
}

hr {
  height: em(2);
  background: $gray-3;
}

img {
  width: 100%;
}

ol {
  @extend %reset-list;
}

pre {
  @extend %reset-padding;
}

textarea {
  @extend %reset-border;
  height: em(64);
}

ul {
  @extend %reset-list;
}
