blockquote {
  padding: em(4 16);
  border: solid $gray-2;
  border-width: em(0 0 0 4);

  &.-reverse {
    border-width: em(0 4 0 0);
    text-align: right;
  }

  footer {
    margin: em(4 0 0 0, 12);
    padding: em(6 0 0 0, 12);
    font-size: em(12);

    &::before {
      top: 0;
      height: em(2, 12);
      background: $gray-2;
    }
  }
}

// ====

code {
  padding: em(2 4);
}

pre code {
  padding: auto;
}

// ====

figure {
  padding: em(4 32);
}

// ====

hr {
  height: em(2);
  background: $gray-3;
}

// ====

img {
  width: 100%;
}

p img {
  width: auto;
  max-width: 100%;
}
