h1, h2, h3, h4, h5, h6 {
  &.-title::before {
    bottom: 0;
    border: rem(1) solid $gray-3;
    z-index: -1;
  }
}

ul, ol {
  > a.-list-anchor {
    display: list-item;
  }
}

// hr {
//   &.-bold {
//     height: em(4);
//   }
// }
