@import '../bower_components/mint-sass/scss/main';
@import '../bower_components/color-sass/scss/main';

@import '../../_sass/display-sass/scss/main';

@import 'normalize';

/*! plate v1.0.0 | MIT License | github.com/dustindowell22/plate */

@import 'variables';
@import 'default';

@import 'general/border';
@import 'general/gray';
@import 'general/monospace';
@import 'general/padding';

@import 'elements/anchor';
@import 'elements/form';
@import 'elements/headings';
@import 'elements/list';

@import 'components/helpers';
@import 'components/variants';

@import 'common/card';
@import 'common/mega';

blockquote {
  border-left: solid em(4) $gray-2;
  padding: em(4 16 4 12);
}

code {
  padding: em(2 4);
}

pre code {
  padding: auto;
}

figure {
  padding: em(4 32);
}

img {
  width: 100%;
}

p img {
  width: auto;
  max-width: 100%;
}
