input,
textarea {
  color: $gray-1;

  &::-webkit-input-placeholder {
    color: $gray-2;
  }
}

blockquote,
button,
code,
figure,
input[type='button'],
input[type='reset'],
input[type='submit'],
kbd,
pre,
samp {
  color: $gray-1;
  background: $gray-3;
}
