.mega {
  font-size: 2em;
  line-height: 1;

  &.-hero {
    color: #fff;
    text-align: center;
    background-position: center;
    background-size: cover;
  }

  &.-half {
    min-height: 50vh;
  }

  &.-full {
    min-height: 100vh;
  }
}
