h1, h2, h3, h4, h5, h6 {
  margin: em(0 0 4 0);
  font-family: 'HelveticaNeue-CondensedBold', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;

  &.-title::before {
    bottom: 0;
    border: rem(1) solid $gray-3;
    z-index: -1;
  }
}

h1 {
  font-size: em(36);
}

h2 {
  font-size: em(32);
}

h3 {
  font-size: em(28);
}

h4 {
  font-size: em(24);
}

h5 {
  font-size: em(20);
}

h6 {
  font-size: em(16);
}
